#conghoa {
	font-size: 20px;
}
.tieude {
	text-align: center;
}
.sau {
	text-indent: 30px;
}
#dong3 {
	margin-right: 30%;
}
#dong2 {
	margin-right: 30%;
}
.noidung {
	text-align: justify;
	margin-left: 25%;
	margin-right: 25%;
}
.saucung {
	text-align: right;
	margin-right: 25%;
}
