* 
{
	box-sizing: border-box;
}

body 
{	
	width: 1140px;
	margin: auto;
}


.main-menu a
{	
	display: block;
	font-size: 30px;
	text-decoration: none;
	font-family: Impact;
	padding-bottom: 40px;
	color: #f66528;
}
.main-menu a:hover 
{
	color: #e09d24;
}

.main-menu img
{
	width: 100px;
}

.main-menu 
{	position: absolute;
	display: inline-block;
	padding: 20px;
	float: left;
	
}
.picture
{
	padding-bottom: 50px;
}




.picture img
{
	width: 20%;
	height: 475px;
	padding: 0;
}

.picture img#logo 
{
	width: 58%;
}


.content 
{
	padding-right: 20px;
	width: 50%;
	float: left;
	text-align: center;
	padding-top: 0;
	position: relative;
}
.content img
{
	width: 101%;
	height: 300px;

}


#up 
{
	position: fixed;
	bottom: 0;

}
#up img
{
	max-width: 10%;
}









