* {
	box-sizing: border-box;
}


.banner img {
	width: 100%;
}


.text {
	color: #e91e63;
	animation: title 3s ease infinite;
	text-align: center;
}

@keyframes title {
	0% {  background-color:#dccccc; }
	10% {  color: #03f44f; background-color: #18414e;}
	20% {  color: #03A9F4; background-color: #E91E63;}
	50% { color: #3f51b5; background-color: #18414e;}
	80% {  color: #E91E63; background-color: #03f44f;}
	90% { opacity: 0.5; color: #03f44f; background-color: #18414e; }
	100% { opacity: 0;color: #03f44f; background-color: #03A9F4; }
}

.live {
	width: 50%;
	float: left;
	text-align: justify;
	font-family: fantasy;
	padding: 3%;

}







.live img {
	opacity: 0.9;
	width: 100%;
	
	position: relative;
	z-index: 1;

}


.live h3 {
	text-align: center;
	font-size: 35px;
	color: #5a7b2e;
	font-family: cursive;

}
.live span {
	color: #7a1537;
}
.image {
	opacity: 0.7;
	overflow: hidden;
}
.image img:hover {
	opacity: 0.8;
	width: 100%;
	transform: scale(1.2);
	transition: all 1s ease ;
}


.girl img {
	width: 100%;
	position: absolute;
	z-index: -1;

}
.want {
	width: 50%;
	float: left;
	padding: 3%;
}

.book {
	height: 50%;
	padding-top: 6%;
	padding-bottom: 6%;

}

.pict img {
	display: inline-block;
	width: 100%;
	height: 100%;
	opacity: 0.3;

}
.pict {
	width: 100%;
	overflow: hidden;
}




.want img:hover {
	opacity: 1;
	width: 100%;
	transform: scale(1.2);
	transition: all 1s ease ;
}

.want h3 {
	color: #901e16;
	font-family: fantasy;
}


.she {
	float: left;
	overflow: hidden;
	width: 10%;
}
.fly img {
	width: 100%;
	border-radius: 50%;
}
@keyframes fly {
	0% { transform: translateY(0); opacity: 0}
	50% { transform: translateY(-1000%); opacity: 1 }
	100% { transform: translateY(-2000%); opacity: 0}
}
.she.one {
	animation: fly 10s ease infinite;
}


@keyframes fly {
	0% { transform: translateY(0); opacity: 0}
	50% { transform: translateY(-1000%); opacity: 1 }
	100% { transform: translateY(-2000%); opacity: 0}
}
.she.two {
	animation: fly 12s ease infinite;
}


@keyframes fly {
	0% { transform: translateY(0); opacity: 0}
	50% { transform: translateY(-1000%); opacity: 1 }
	100% { transform: translateY(-2000%); opacity: 0}
}
.she.three {
	animation: fly 14s ease infinite;
}


@keyframes fly {
	0% { transform: translateY(0); opacity: 0}
	50% { transform: translateY(-1000%); opacity: 1 }
	100% { transform: translateY(-2000%); opacity: 0}
}
.she.four {
	animation: fly 16s ease infinite;
}


@keyframes fly {
	0% { transform: translateY(0); opacity: 0}
	50% { transform: translateY(-1000%); opacity: 1 }
	100% { transform: translateY(-2000%); opacity: 0}
}
.she.five {
	animation: fly 18s ease infinite;
}


@keyframes fly {
	0% { transform: translateY(0); opacity: 0}
	50% { transform: translateY(-1000%); opacity: 1 }
	100% { transform: translateY(-2000%); opacity: 0}
}
.she.six {
	animation: fly 20s ease infinite;
}


@keyframes fly {
	0% { transform: translateY(0); opacity: 0}
	50% { transform: translateY(-1000%); opacity: 1 }
	100% { transform: translateY(-2000%); opacity: 0}
}
.she.seven {
	animation: fly 22s ease infinite;
}


@keyframes fly {
	0% { transform: translateY(0); opacity: 0}
	50% { transform: translateY(-1000%); opacity: 1 }
	100% { transform: translateY(-2000%); opacity: 0}
}
.she.eight {
	animation: fly 24s ease infinite;
}


@keyframes fly {
	0% { transform: translateY(0); opacity: 0}
	50% { transform: translateY(-1000%); opacity: 1 }
	100% { transform: translateY(-2000%); opacity: 0}
}
.she.nine {
	animation: fly 26s ease infinite;
}


@keyframes fly {
	0% { transform: translateY(0); opacity: 0}
	50% { transform: translateY(-1000%); opacity: 1 }
	100% { transform: translateY(-2000%); opacity: 0}
}
.she.ten {
	animation: fly 28s ease infinite;
}








